<form action="/gadget/list">
    <div class="form-row align-items-center mb-3 mt-4">
        <div class="col-md-4 mb-2 mb-md-0">
            <input type="search" class="form-control" name="kereses" value="<%= typeof kereses !== 'undefined' ? kereses : '' %>" placeholder="Keressen az eszközök között...">
        </div>
        <div class="col-md-auto">
            <input class="btn btn-secondary w-100" type="submit" value="Keresés">
        </div>    
    </div>
</form>

<div class="row">
    <% gadgets.forEach(( gadget,index) => { %>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card h-100">
                <img src="/<%= gadget.kepek[0] %>" alt="" class="card-image-top"
                style="height: 200px; object-fit: contain;">
            <div class="card-body">
                <h4 class="card-title"><%= gadget.nev %> </h4>
                <p class="card-text"><%= gadget.leiras %> </p>
                <h6 class="card-subtitle mb-2">Állapot: <%= gadget.allapot %> <% if (gadget.allapot == "Szabad") { %>
                <i style="color: green;" class="fas fa-check-circle"></i>
                <% } else {%><i style="color: red;" class="fas fa-times-circle"></i><%}%></h6>
                <a class="btn btn-primary" href="/gadget/details/<%=gadget.id%>">
                    Kölcsönzés
                </a>
            </div>
        </div>
    </div> 
    <% }) %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eszköz kölcsönzése</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="" method="post">
            <%  const now = new Date(); 
                const dateString = now.getFullYear() + '-' + ('0' + (now.getMonth()+1)).slice(-2) + '-' + ('0' + now.getDate()).slice(-2);
            %> 
            <div class="modal-body">
                <span>Add meg milyen intervallumban szeretnéd használni az eszközt!</span>
                <div class="form-group row">
                    <label for="start" class="col-sm-3 col-form-label">Kezdete:</label>
                    <div class="col-sm-6">
                        <input type="date" id="start" name="kezdete"
                            value="<%= dateString%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="end" class="col-sm-3 col-form-label">Vége:</label>
                    <div class="col-sm-6">
                        <input type="date" id="end" name="vege"
                            value="<%= dateString%>">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vissza</button>
                <input type="submit" class="btn btn-primary" value="Véglegesítés"></button>
            </div>
        </form>
    </div>
  </div>
</div>

<%- contentFor('customScript') %>
<script src="/js/rentalModalForm.js"></script>