<div class="gadget_container">
    <div class="row">
        <div class="col-md-6">  
            <div class="slideshow-container ">
                <% gadget.kepek.forEach(kep => { %>
                    <div class="slides">
                        <img class="slideshow-img" src="/<%= kep %>">
                    </div>
                <% }) %>
                <a onclick="plusSlides(1)"><i class="next fas fa-caret-right"></i></a>
                <a onclick="plusSlides(-1)"><i class="prev fas fa-caret-left"></i></a>
                
            </div>
            <div class="slideshow-thumbnails row align-items-center mt-3 mb-3 mb-md-0">
                <% gadget.kepek.forEach((kep, index) => { %>
                    <div class="col-2">
                        <img class="thumbnail-image" src="/<%= kep %>" onclick="currentSlide(<%= index %>)">
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mb-0 font-weight-bold"><%= gadget.nev%></h2>
            <span class="d-block font-weight-bold">Állapot: <%= gadget.allapot %> <% if (gadget.allapot == "Szabad") { %>
            <i style="color: green;" class="fas fa-check-circle"></i>
            <% } else {%><i style="color: red;" class="fas fa-times-circle"></i><%}%></span>
            <span class="d-block mb-3 font-weight-bold">Eszközfelelős: <a class="font-italic" href="#"><%= gadget._felelos.teljesNev %></a></span>
            <h5>Leírás</h5>
            <p><%= gadget.leiras%></p>
            <% if (gadget.tartozekok.length != 0) { %>
                <h5>Tartozékok</h5>
                <ul>
                    <% gadget.tartozekok.forEach(tartozek => { %>
                    <li><%= tartozek%></li>
                    <% }) %>
                </ul>
            <% } %>
            
            <% include ./partials/messages %>
            <form action="/rental/create/<%= gadget.id %>" method="POST" class="mb-3">
                <div class="form-group">
                    <label for="kezdete">Foglalás kezdete:</label>
                    <input class="form-control"type="text" name="kezdete" id="fromDate">
                </div>
                <div class="form-group">
                    <label for="vege">Foglalás vége:</label>
                    <input class="form-control" type="text" name="vege" id="toDate">
                </div>
                <button type="submit" class="btn btn-primary col col-md-auto">
                Kölcsönzés
                </button>
            </form>
            <% if (gadget._felelos.id == loggedInUser.id || loggedInUser.admin) { %>
                <a href="/rental/list/<%= gadget.id %>" class="btn btn-info col col-md-auto">Eszköztörténet</a>
                <a href="/gadget/<%= gadget.id %>/edit" class="btn btn-info col col-md-auto">Szerkesztés</a>
            <% } %>
        </div>
    </div>

    <h3 class="mt-3 font-weight-bold">Hozzászólások:</h3>
    <div class="">
        <% gadget._kommentek.forEach(komment => { %>
            <div class="comment py-3 border-bottom">
                <h5 class="font-weight-bold mb-0"><%= komment._szerzo.teljesNev %></h5>
                <span class="text-muted font-italic d-block mb-2" style="font-size: 0.9rem;"><%= dateFormat(komment.hozzaadas_datuma, 'longDate') %></span>
                <div class="">
                    <p class="mb-0"><%= komment.szoveg %></p>
                </div>
            </div>
        <% }) %>
    </div>
    <form action="/gadget/<%= gadget.id %>/comment" method="POST">
        <div class="form-group">
        <textarea class="form-control" id="leiras" rows="5" name="szoveg" placeholder="Írjon hozzászólást az eszközhöz..."></textarea>
        </div>
        <button class="btn btn-secondary" type="submit">Hozzászólás</button>
    </form>
</div>


<script>
    <% var disabledDateIntervals = rentals.map((rental) => { 
            return rental.foglalas;
        });
    %>
    var disabledDateIntervals = <%- JSON.stringify(disabledDateIntervals) %>;
</script>

<%- contentFor('customScript') %>
<script src="/js/slideShowGallery.js"></script>
<script src="/js/datePicker.js"></script>

